criteria: input_data/ion_stats/criteria.txt
model_ckpt: saved_models/ckpt_epoch16_0.9263
model_config: saved_models/config.tsv
enable_gpu: True
dsets:
   valuniq: 
      msp: C:/Users/joell/MyDatasets/MassSpec/AIData/Validation/ValidUniq2022418_edit.msp
      pos: ./input_data/msp_pos/valuniq.pos
dsetspred: