train_labels=./input_data/labels/train_labels.txt
train_pos=./input_data/txt_pos/fpostrain.txt
train_dat=./input_data/datasets/train.txt
val_labels=./input_data/labels/val_labels.txt
val_pos=./input_data/txt_pos/fposval.txt
val_dat=./input_data/datasets/val.txt
test_labels=./input_data/labels/test_labels.txt
test_pos=./input_data/txt_pos/fpostest.txt
test_dat=./input_data/datasets/test.txt
root_int=2
embed=True
config=None
weights=None
restart=None
transfer=False
criteria=./input_data/ion_stats/criteria.txt
lr=3e-4
epochs=25
batch_size=100
lr_decay_start=12
lr_decay_rate=0.8
svwts=top